mixin portfolioItem(src, name, desc, info)
  .portfolio-item
    .port-item-thumb
      img(src=`images/portfolio/${src}` alt='Website Image')
    h3.port-item-title= name
    button.btn.view-btn(type='button') view project
    .port-item-details
      .desc
        p= desc
      .gen-info
        ul
          li created - 
            span= info[0]
          li technologies used - 
            span= info[1]
          li role - 
            span front-end
          li
            a(href=info[2] target='_blank')
              button.btn view live
